{% block content %}
	<!-- <table class="table"> -->
	<h2>Products of category {{category.title}}</h2>
	{% for pr in products%} 
		<div>
		<td>
			{{pr.title}}
			<a href={% url 'edit_product' product_id=pr.id %}>Edit</a>
			<a href={% url 'delete_product' product_id=pr.id %}>Delete</a>
		</td>
		</div>
	{% endfor %}
	<br>

	<form method="post" action={% url 'add_product' category_id=category.id%}>
		{%csrf_token%}
		<input name="new_title"placeholder="Title">
		<input type="submit" value="Add">
	</form>
	<br>
	<a href={% url 'categories' %}>Back to categories</a>
	<!-- </table> -->
{% endblock content %}